.header-wrapper {
  position: fixed;
  top: 0px;
  padding: 5px 0px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.chat-body {
  border-top: 1px solid #f7f7f7;
  background-image: url("../images/chatBg.png");
  min-height: 100vh;
  padding: 10px 0px;
  padding-top: 100px;
}

.chat-body .header,
.chat-body .status-bar {
  padding: 0px 20px;
}

.chat__write-container {
  position: fixed;
  display: flex;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

@keyframes float {
  0% {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
}

.chat__write {
  bottom: 0px;
  border-radius: 0;
  width: 100%;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  margin: 0 auto;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  animation: float 3s linear infinite forwards;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat-screen .chat__timestamp {
  margin-bottom: 30px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-weight: 600;
}

.chat-screen .message {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 20px;
}

.message .message__content {
  width: 60%;
}

.incoming__message {
  align-self: flex-start;
}

.sent__message {
  align-self: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: white;
  font-weight: 600;
  display: block;
}

@keyframes spinImg {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incoming__message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 15px;
  animation: spinImg 0.4s ease-in-out 6;
}

.incoming__message .message__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming__message .message__bubble {
  background-image: linear-gradient(to right, #d66d75, #e29587);
  border-bottom-left-radius: 0;
}

.sent__message .message__bubble {
  background-image: linear-gradient(to left, #d66d75, #e29587);
  border-bottom-right-radius: 0;
}

@keyframes incomingAnimation {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.incoming__message {
  animation: incomingAnimation 0.5s ease-in forwards;
}

@keyframes sentAnimation {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.sent__message {
  animation: sentAnimation 0.5s ease-out forwards;
}
